[submodule "lib/proftpd"]
	path = lib/proftpd
	url = https://github.com/proftpd/proftpd.git
[submodule "tools/rna_sorting/sortmerna/sortmerna"]
	path = tools/rna_sorting/sortmerna/sortmerna
	url = https://github.com/biocore/sortmerna.git]
[submodule "lib/galaxy"]
	path = lib/galaxy
	url = https://github.com/galaxyproject/galaxy.git
