[submodule "lib/proftpd"]
	path = lib/proftpd
	url = https://github.com/proftpd/proftpd.git
[submodule "lib/galaxy"]
	path = lib/galaxy
	url = https://github.com/galaxyproject/galaxy.git
[submodule "lib/git-hg"]
	path = lib/git-hg
	url = https://github.com/offbytwo/git-hg.git
[submodule "lib/galaxy_tools/genometools/genometools"]
	path = lib/galaxy_tools/genometools/genometools
	url = https://github.com/genometools/genometools.git
[submodule "lib/galaxy_tools/RDPTools/RDPTools"]
	path = lib/galaxy_tools/RDPTools/RDPTools
	url = https://github.com/rdpstaff/RDPTools.git
[submodule "lib/ant"]
	path = lib/ant
	url = https://git-wip-us.apache.org/repos/asf/ant.git
[submodule "lib/galaxy_tools/cluster_sequences/cd-hit/cd-hit"]
	path = lib/galaxy_tools/cluster_sequences/cd-hit/cd-hit
	url = https://github.com/weizhongli/cdhit.git
[submodule "lib/galaxy_tools/manipulate_rna/sortmerna/sortmerna"]
	path = lib/galaxy_tools/manipulate_rna/sortmerna/sortmerna
	url = https://github.com/biocore/sortmerna.git
[submodule "lib/galaxy_tools/manipulate_rna/reago/reago"]
	path = lib/galaxy_tools/manipulate_rna/reago/reago
	url = https://github.com/chengyuan/reago-1.1.git
[submodule "lib/galaxy_tools/search_similarity/blast"]
	path = lib/galaxy_tools/search_similarity/blast
	url = https://github.com/peterjc/galaxy_blast.git
[submodule "lib/galaxy_tools/lparsons_wrappers"]
	path = lib/galaxy_tools/lparsons_wrappers
	url = https://github.com/lparsons/galaxy_tools.git
