[submodule "lib/proftpd"]
	path = lib/proftpd
	url = https://github.com/proftpd/proftpd.git
[submodule "lib/git-hg"]
	path = lib/git-hg
	url = https://github.com/offbytwo/git-hg.git
[submodule "lib/ant"]
	path = lib/ant
	url = https://git-wip-us.apache.org/repos/asf/ant.git
[submodule "lib/galaxy_tools/manipulate_rna/reago/reago"]
	path = lib/galaxy_tools/manipulate_rna/reago/reago
	url = https://github.com/chengyuan/reago-1.1.git
